demo-simple
optaplanner-quickstarts
Ideas.txt
202601_ escalacao para lumen maris.pdf
Escalação semanal.pdf
Servicio de Mesa.docx
task-scheduler/src/main/resources/application-local.properties
acceso-agustin-funcoescheznous.txt
Escalación - ##.docx
Escalación - ## - Test.docx
Index PDF/index.html
Index PDF/Template.docx
Index PDF/~$mplate.docx
